# Merge csv files

In [1]:
import pandas as pd

In [3]:
import pandas as pd
import glob
import os

path_team = r'/Users/melodybass/Documents/Flatiron/Capstone/fantasy-football-draft-analysis/data/league_data/team_data' # use your path
all_files_team = glob.glob(os.path.join(path_team, "*.csv"))


df_from_each_file_team = (pd.read_csv(f) for f in all_files_team)
team_df   = pd.concat(df_from_each_file_team, ignore_index=True)

In [4]:
team_df

,ID,Name,Commissioner,Manager,Rank,Playoff Seed,Wins,Losses,Ties,Image
0,406.l.12349.t.1,Jyhad's R.I.P. Mom,False,--hidden--,5,5.0,7,8,0,https://yahoofantasysports-res.cloudinary.com/...
1,406.l.12349.t.2,Robert's Marvelous Team,False,--hidden--,3,2.0,11,4,0,https://s.yimg.com/cv/apiv2/default/nfl/nfl_3_...
2,406.l.12349.t.3,Master Queen 1,False,--hidden--,8,8.0,5,10,0,https://yahoofantasysports-res.cloudinary.com/...
3,406.l.12349.t.4,Mean Machine,False,--hidden--,10,NaN,4,11,0,https://s.yimg.com/cv/apiv2/default/nfl/nfl_5.png
4,406.l.12349.t.5,Big Blue,False,--hidden--,6,6.0,6,9,0,https://yahoofantasysports-res.cloudinary.com/...
...,...,...,...,...,...,...,...,...,...,...
97,406.l.12364.t.8,REHAB SQUAD,False,--hidden--,2,2.0,10,4,0,https://s.yimg.com/cv/apiv2/default/nfl/nfl_11...
98,406.l.12364.t.9,I'm only here for the ðŸ’°,False,--hidden--,6,5.0,8,6,0,https://yahoofantasysports-res.cloudinary.com/...
99,406.l.12364.t.10,Troy's Team,False,--hidden--,5,6.0,8,6,0,https://s.yimg.com/cv/apiv2/default/nfl/nfl_6_...
100,406.l.12364.t.11,Rawdog314,False,--hidden--,10,12.0,2,12,0,https://s.yimg.com/cv/apiv2/default/nfl/nfl_4_...
101,406.l.12364.t.12,BigSmokeDntChoke,False,--hidden--,8,10.0,5,9,0,https://yahoofantasysports-res.cloudinary.com/...

In [4]:
path_draft = r'/Users/melodybass/Documents/Flatiron/Capstone/fantasy-football-draft-analysis/data/league_data/draft_data' # use your path
all_files_draft = glob.glob(os.path.join(path_draft, "*.csv"))


df_from_each_file_draft = (pd.read_csv(f) for f in all_files_draft)
draft_df   = pd.concat(df_from_each_file_draft, ignore_index=True)

In [5]:
draft_df

,Pick,Round,Team ID,Team Name,Player ID,Last Name,First Name,Avg. Pick,Avg. Round,Avg. Cost,% Drafted
0,1,1,406.l.12349.t.9,12th MAN,406.p.30121,McCaffrey,Christian,1.2,1.0,$73.9,100%
1,2,1,406.l.12349.t.4,Mean Machine,406.p.30154,Cook,Dalvin,2.4,1.0,$65.8,100%
2,3,1,406.l.12349.t.6,Semi-Auto Johnson,406.p.29238,Elliott,Ezekiel,5.0,1.1,$58.9,100%
3,4,1,406.l.12349.t.10,GO DEEP,406.p.30180,Kamara,Alvin,4.4,1.0,$63.0,100%
4,5,1,406.l.12349.t.3,Master Queen 1,406.p.30123,Mahomes,Patrick,16.6,2.2,$35.3,100%
...,...,...,...,...,...,...,...,...,...,...,...
1549,146,15,406.l.12347.t.9,horace Bucs,406.p.100002,NaN,Buffalo,124.9,13.3,$1.3,91%
1550,147,15,406.l.12347.t.3,Maryland Eagles,406.p.31888,Hardman,Mecole,125.4,13.4,$1.5,30%
1551,148,15,406.l.12347.t.8,Deep Dish,406.p.31199,Sanders,Jason,125.2,13.2,$1.1,76%
1552,149,15,406.l.12347.t.5,69 VIKINGS,406.p.31074,Hines,Nyheim,125.1,13.3,$1.4,50%
1553,150,15,406.l.12347.t.6,Redskins,406.p.29754,Lutz,Wil,118.7,12.6,$1.0,46%

In [6]:
# load in player fantasy stats data as player_df
player_df = pd.read_csv('data/league_data/player_data/Yahoo-406.l.12345-Players.csv')
player_df.head()

,ID,OR,Last Name,First Name,Team,Status,Status Details,Eligible Positions,Avg. Pick,Avg. Round,...,Ret TD (DT),XPR (DT),Pts Allow 0 (DT),Pts Allow 1-6 (DT),Pts Allow 7-13 (DT),Pts Allow 14-20 (DT),Pts Allow 21-27 (DT),Pts Allow 28-34 (DT),Pts Allow 35+ (DT),Image
0,406.p.30977,1,Allen,Josh,Buf,Available,NaN,QB,29.7,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/JqjwXUxHWb2L...
1,406.p.32676,2,Herbert,Justin,LAC,Available,NaN,QB,61.1,6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/j0W7BC4RRiJB...
2,406.p.5228,3,Brady,Tom,TB,Available,NaN,QB,63.5,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/Z71ic_5aqQfG...
3,406.p.30123,4,Mahomes,Patrick,KC,Available,NaN,QB,16.6,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/oMIJokh4hdPk...
4,406.p.30182,5,Kupp,Cooper,LAR,Available,NaN,WR,42.0,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/hYxm3SR9yMjD...

In [7]:
player_df['Player ID'] = player_df['ID']
position_df = pd.DataFrame(player_df, columns = ['Player ID', 'Eligible Positions'])
position_df

        Player ID Eligible Positions
0     406.p.30977                 QB
1     406.p.32676                 QB
2      406.p.5228                 QB
3     406.p.30123                 QB
4     406.p.30182                 WR
...           ...                ...
2628  406.p.31160                  S
2629  406.p.31156              LB,DE
2630  406.p.31154                  S
2631  406.p.31151                 LB
2632  406.p.33089                 CB

[2633 rows x 2 columns]

In [8]:
#Merge datasets
draft_df = pd.merge(draft_df, position_df, how = 'left', on='Player ID')
draft_df

,Pick,Round,Team ID,Team Name,Player ID,Last Name,First Name,Avg. Pick,Avg. Round,Avg. Cost,% Drafted,Eligible Positions
0,1,1,406.l.12349.t.9,12th MAN,406.p.30121,McCaffrey,Christian,1.2,1.0,$73.9,100%,RB
1,2,1,406.l.12349.t.4,Mean Machine,406.p.30154,Cook,Dalvin,2.4,1.0,$65.8,100%,RB
2,3,1,406.l.12349.t.6,Semi-Auto Johnson,406.p.29238,Elliott,Ezekiel,5.0,1.1,$58.9,100%,RB
3,4,1,406.l.12349.t.10,GO DEEP,406.p.30180,Kamara,Alvin,4.4,1.0,$63.0,100%,RB
4,5,1,406.l.12349.t.3,Master Queen 1,406.p.30123,Mahomes,Patrick,16.6,2.2,$35.3,100%,QB
...,...,...,...,...,...,...,...,...,...,...,...,...
1549,146,15,406.l.12347.t.9,horace Bucs,406.p.100002,NaN,Buffalo,124.9,13.3,$1.3,91%,DEF
1550,147,15,406.l.12347.t.3,Maryland Eagles,406.p.31888,Hardman,Mecole,125.4,13.4,$1.5,30%,WR
1551,148,15,406.l.12347.t.8,Deep Dish,406.p.31199,Sanders,Jason,125.2,13.2,$1.1,76%,K
1552,149,15,406.l.12347.t.5,69 VIKINGS,406.p.31074,Hines,Nyheim,125.1,13.3,$1.4,50%,RB
1553,150,15,406.l.12347.t.6,Redskins,406.p.29754,Lutz,Wil,118.7,12.6,$1.0,46%,K

In [9]:
team_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            102 non-null    object
 1   Name          102 non-null    object
 2   Commissioner  102 non-null    bool
 3   Manager       102 non-null    object
 4   Rank          102 non-null    int64
 5   Playoff Seed  84 non-null     float64
 6   Wins          102 non-null    int64
 7   Losses        102 non-null    int64
 8   Ties          102 non-null    int64
 9   Image         102 non-null    object
dtypes: bool(1), float64(1), int64(4), object(4)
memory usage: 7.4+ KB

In [10]:
draft_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 0 to 1553
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pick                1554 non-null   int64
 1   Round               1554 non-null   int64
 2   Team ID             1554 non-null   object
 3   Team Name           1554 non-null   object
 4   Player ID           1554 non-null   object
 5   Last Name           1398 non-null   object
 6   First Name          1554 non-null   object
 7   Avg. Pick           1544 non-null   float64
 8   Avg. Round          1544 non-null   float64
 9   Avg. Cost           1544 non-null   object
 10  % Drafted           1544 non-null   object
 11  Eligible Positions  1554 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 157.8+ KB

In [11]:
team_draft_df = draft_df.drop(columns = ['Team Name', 'Avg. Pick', 'Avg. Round', 'Avg. Cost', '% Drafted'], axis=1)
team_draft_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 0 to 1553
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pick                1554 non-null   int64
 1   Round               1554 non-null   int64
 2   Team ID             1554 non-null   object
 3   Player ID           1554 non-null   object
 4   Last Name           1398 non-null   object
 5   First Name          1554 non-null   object
 6   Eligible Positions  1554 non-null   object
dtypes: int64(2), object(5)
memory usage: 97.1+ KB

In [12]:
five_rounds_df = team_draft_df[team_draft_df['Round'] <= 5]
five_rounds_df

,Pick,Round,Team ID,Player ID,Last Name,First Name,Eligible Positions
0,1,1,406.l.12349.t.9,406.p.30121,McCaffrey,Christian,RB
1,2,1,406.l.12349.t.4,406.p.30154,Cook,Dalvin,RB
2,3,1,406.l.12349.t.6,406.p.29238,Elliott,Ezekiel,RB
3,4,1,406.l.12349.t.10,406.p.30180,Kamara,Alvin,RB
4,5,1,406.l.12349.t.3,406.p.30123,Mahomes,Patrick,QB
...,...,...,...,...,...,...,...
1449,46,5,406.l.12347.t.9,406.p.31885,Sanders,Miles,RB
1450,47,5,406.l.12347.t.3,406.p.28457,Lockett,Tyler,WR
1451,48,5,406.l.12347.t.8,406.p.26664,Woods,Robert,WR
1452,49,5,406.l.12347.t.5,406.p.31008,Jones II,Ronald,RB
1453,50,5,406.l.12347.t.6,406.p.33392,Pitts,Kyle,TE

In [13]:
first_five_df = five_rounds_df.drop(columns = ['Pick', 'Round', 'Player ID', 'Last Name', 'First Name'], axis=1)

first_five_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 1453
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Team ID             510 non-null    object
 1   Eligible Positions  510 non-null    object
dtypes: object(2)
memory usage: 12.0+ KB

In [14]:
first_five_dict = pd.DataFrame(first_five_df.groupby(['Team ID'])['Eligible Positions'].apply(lambda grp: list(grp.values)).to_dict())
#first_five_dict['No of RBs'] = 
first_five_dict

,406.l.12345.t.1,406.l.12345.t.10,406.l.12345.t.2,406.l.12345.t.3,406.l.12345.t.4,406.l.12345.t.5,406.l.12345.t.6,406.l.12345.t.7,406.l.12345.t.8,406.l.12345.t.9,...,406.l.12365.t.1,406.l.12365.t.10,406.l.12365.t.2,406.l.12365.t.3,406.l.12365.t.4,406.l.12365.t.5,406.l.12365.t.6,406.l.12365.t.7,406.l.12365.t.8,406.l.12365.t.9
0,QB,RB,RB,RB,WR,RB,RB,RB,RB,RB,...,TE,WR,RB,RB,RB,RB,RB,RB,RB,RB
1,RB,WR,TE,WR,WR,RB,WR,RB,RB,RB,...,QB,TE,RB,WR,RB,WR,RB,WR,RB,WR
2,RB,WR,TE,WR,QB,RB,WR,WR,QB,WR,...,RB,RB,WR,RB,WR,WR,WR,WR,TE,RB
3,WR,WR,WR,WR,RB,QB,WR,RB,WR,TE,...,WR,RB,WR,RB,RB,RB,WR,WR,WR,QB
4,WR,RB,RB,RB,RB,WR,RB,QB,TE,WR,...,RB,QB,RB,TE,WR,WR,TE,RB,WR,RB

In [15]:
num_rb = []

for col in first_five_dict:
    num_rb_col = first_five_dict[col].value_counts()['RB']
    num_rb.append(num_rb_col)

first_five_dict.loc[len(first_five_dict)] = num_rb
first_five_dict = first_five_dict.T.reset_index()
first_five_dict.columns = ['ID', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'num_rb']
first_five_dict

                   ID pick_1 pick_2 pick_3 pick_4 pick_5 num_rb
0     406.l.12345.t.1     QB     RB     RB     WR     WR      2
1    406.l.12345.t.10     RB     WR     WR     WR     RB      2
2     406.l.12345.t.2     RB     TE     TE     WR     RB      2
3     406.l.12345.t.3     RB     WR     WR     WR     RB      2
4     406.l.12345.t.4     WR     WR     QB     RB     RB      2
..                ...    ...    ...    ...    ...    ...    ...
97    406.l.12365.t.5     RB     WR     WR     RB     WR      2
98    406.l.12365.t.6     RB     RB     WR     WR     TE      2
99    406.l.12365.t.7     RB     WR     WR     WR     RB      2
100   406.l.12365.t.8     RB     RB     TE     WR     WR      2
101   406.l.12365.t.9     RB     WR     RB     QB     RB      3

[102 rows x 7 columns]

In [16]:
first_five_dict['strategy'] = first_five_dict['num_rb']
first_five_dict['strategy'] = first_five_dict['strategy'].replace(to_replace = (3, 4, 5), value = 2)

# Check value counts
first_five_dict['strategy'].value_counts()

2    87
1    15
Name: strategy, dtype: int64

In [17]:
to_drop = ['pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'num_rb']
strategy_df = first_five_dict.drop(to_drop, axis=1)
strategy_df

                   ID  strategy
0     406.l.12345.t.1         2
1    406.l.12345.t.10         2
2     406.l.12345.t.2         2
3     406.l.12345.t.3         2
4     406.l.12345.t.4         2
..                ...       ...
97    406.l.12365.t.5         2
98    406.l.12365.t.6         2
99    406.l.12365.t.7         2
100   406.l.12365.t.8         2
101   406.l.12365.t.9         2

[102 rows x 2 columns]

In [18]:
#Merge datasets
team_strategy_df = pd.merge(team_df, strategy_df, how = 'left', on='ID')
team_strategy_df = team_strategy_df.drop(columns = ['Name', 'Commissioner', 'Manager', 'Image', 'Wins', 'Losses', 'Ties'], axis=1)

In [19]:

team_strategy_df.loc[team_strategy_df['Rank'] == 1]

                  ID  Rank  Playoff Seed  strategy
9   406.l.12349.t.10     1           1.0         2
14   406.l.12360.t.5     1           4.0         2
24   406.l.12355.t.5     1           2.0         2
39  406.l.12359.t.10     1           2.0         2
48   406.l.12345.t.9     1           1.0         2
59  406.l.12357.t.10     1           1.0         2
62   406.l.12347.t.3     1           1.0         2
70   406.l.12351.t.1     1           2.0         2
85   406.l.12365.t.6     1           3.0         2
96   406.l.12364.t.7     1           4.0         1

In [20]:
player_df.head()

,ID,OR,Last Name,First Name,Team,Status,Status Details,Eligible Positions,Avg. Pick,Avg. Round,...,XPR (DT),Pts Allow 0 (DT),Pts Allow 1-6 (DT),Pts Allow 7-13 (DT),Pts Allow 14-20 (DT),Pts Allow 21-27 (DT),Pts Allow 28-34 (DT),Pts Allow 35+ (DT),Image,Player ID
0,406.p.30977,1,Allen,Josh,Buf,Available,NaN,QB,29.7,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/JqjwXUxHWb2L...,406.p.30977
1,406.p.32676,2,Herbert,Justin,LAC,Available,NaN,QB,61.1,6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/j0W7BC4RRiJB...,406.p.32676
2,406.p.5228,3,Brady,Tom,TB,Available,NaN,QB,63.5,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/Z71ic_5aqQfG...,406.p.5228
3,406.p.30123,4,Mahomes,Patrick,KC,Available,NaN,QB,16.6,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/oMIJokh4hdPk...,406.p.30123
4,406.p.30182,5,Kupp,Cooper,LAR,Available,NaN,WR,42.0,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://s.yimg.com/iu/api/res/1.2/hYxm3SR9yMjD...,406.p.30182

In [21]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2633 entries, 0 to 2632
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    2633 non-null   object
 1   OR                    2633 non-null   int64
 2   Last Name             2601 non-null   object
 3   First Name            2633 non-null   object
 4   Team                  2633 non-null   object
 5   Status                2633 non-null   object
 6   Status Details        240 non-null    object
 7   Eligible Positions    2633 non-null   object
 8   Avg. Pick             246 non-null    float64
 9   Avg. Round            246 non-null    float64
 10  Avg. Cost             246 non-null    object
 11  % Drafted             246 non-null    object
 12  Pass Yds (O)          1053 non-null   float64
 13  Pass TD (O)           1053 non-null   float64
 14  Int (O)               1053 non-null   float64
 15  Rush Att (O)          1053 non-null   float64
 16  Rush Yds (O)          1053 non-null   float64
 17  Rush TD (O)           1053 non-null   float64
 18  Targets (O)           1053 non-null   float64
 19  Rec (O)               1053 non-null   float64
 20  Rec Yds (O)           1053 non-null   float64
 21  Rec TD (O)            1053 non-null   float64
 22  Ret TD (O)            1053 non-null   float64
 23  2-PT (O)              1053 non-null   float64
 24  Fum Lost (O)          1053 non-null   float64
 25  Fum Ret TD (O)        1053 non-null   float64
 26  FG 0-19 (K)           61 non-null     float64
 27  FG 20-29 (K)          61 non-null     float64
 28  FG 30-39 (K)          61 non-null     float64
 29  FG 40-49 (K)          61 non-null     float64
 30  FG 50+ (K)            61 non-null     float64
 31  PAT Made (K)          61 non-null     float64
 32  Pts Allow (DT)        32 non-null     float64
 33  Sack (DT)             32 non-null     float64
 34  Int (DT)              32 non-null     float64
 35  Fum Rec (DT)          32 non-null     float64
 36  TD (DT)               32 non-null     float64
 37  Safe (DT)             32 non-null     float64
 38  Blk Kick (DT)         32 non-null     float64
 39  Ret TD (DT)           32 non-null     float64
 40  XPR (DT)              32 non-null     float64
 41  Pts Allow 0 (DT)      32 non-null     float64
 42  Pts Allow 1-6 (DT)    32 non-null     float64
 43  Pts Allow 7-13 (DT)   32 non-null     float64
 44  Pts Allow 14-20 (DT)  32 non-null     float64
 45  Pts Allow 21-27 (DT)  32 non-null     float64
 46  Pts Allow 28-34 (DT)  32 non-null     float64
 47  Pts Allow 35+ (DT)    32 non-null     float64
 48  Image                 2633 non-null   object
 49  Player ID             2633 non-null   object
dtypes: float64(38), int64(1), object(11)
memory usage: 1.0+ MB